<div style="display: none;">
    <div class="box-modal bg-gray py-4 px-4 sm:px-6" id="form-modal">
        <div class="box-modal_close arcticmodal-close text-right">
            <svg class="w-6 h-6 close-icon  inline-block cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 32 32">
                <path
                        d="M7.21875 5.78125L5.78125 7.21875L14.5625 16L5.78125 24.78125L7.21875 26.21875L16 17.4375L24.78125 26.21875L26.21875 24.78125L17.4375 16L26.21875 7.21875L24.78125 5.78125L16 14.5625Z"
                        fill="#2DABF6" />
            </svg>
        </div>
        <div class="modal__top flex items-center justify-between pb-6 xl:pb-16">
            <div style="max-width: 31.3rem">
                <h2 class="line-114" style="margin-bottom: 1rem">
                    Мы вам поможем
                </h2>
                <div class="text-sm font-semibold">
                    Пожалуйста заполните форму ниже, сформулируйте свой вопрос и отправьтае сообщение, а мы свяжемся с Вами в самое ближайшее время и поможем решить все интересующие Вас вопросы.
                </div>
            </div>
            <div class="modal__img hidden md:flex items-start">
                <img src="img/elements/modal-img.png" alt="">
            </div>
        </div>
        <form class="form-in-modal mt-10 mx-auto" style="max-width: 40rem">
            <div class="form-control">
                <input type="text" name="name" class="input w-full" placeholder="Ваше имя">
            </div>
            <div class="form-control mt-5">
                <input type="email" name="email" class="input w-full" placeholder="Ваше E-mail">
            </div>
            <div class="form-control mt-5">
                <input type="tel" class="input w-full" placeholder="Ваш телефон">
            </div>
            <div class="form-control mt-5">
                <textarea name="comment" class="input input_textarea w-full pt-3" placeholder="Ваш комментарий"></textarea>
            </div>
            <div class="form-control mt-5">
               <button type="submit" class="blue-button blue-button_h_50px w-full text-white text-base bg-blue">
                    <span class="flex w-full h-full justify-center items-center">
                        Отправить сообщение
                    </span>
               </button>
            </div>
        </form>
    </div>
</div>